.header{
    background: $white;
    padding: 15px 0;
    box-shadow: 0 0 5px rgb(0 0 0 / 30%);
    .logo{
        width: 130px;
        img{
            width: 100%;
            display: block;
        }
    }
}