{% extends 'base.html' %}
{% load static %}
{% block title %}User List{% endblock %}

{% block content %}
<div class="container">
    <div class="title-row">
        <h1 class="title">User List</h1>
        <div class="title-row-right">
            <a href="{% url 'signup' %}" class="btn-primary">Add User</a>
        </div>
    </div>
    <div class="user-list">
        <table class="dcf-table dcf-table-responsive dcf-table-bordered dcf-table-striped dcf-w-100%">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Weight (kg)</th>
                    <th>Height (cm)</th>
                    <th>Gender</th>
                    <th>Age</th>
                    <th>BMR</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <th scope="row">{{ user.name }}</th>
                    <td data-label="Weight">{{ user.weight }}</td>
                    <td data-label="Height">{{ user.height }}</td>
                    <td data-label="Gender">{{ user.sex }}</td>
                    <td data-label="Age">{{ user.age }}</td>
                    <td data-label="BMR">{{ user.bmr }}</td>
                    <td data-label="Action">
                        <div class="btn-set">
                            <a class="btn-secondary" href="{% url 'user_data' user.id %}">View</a>
                            <button class="btn-primary add-data-btn"
                                    data-toggle="modal"
                                    data-target="#addDataModal"
                                    data-user-id="{{ user.id }}"
                                    data-user-name="{{ user.name }}"
                                    data-user-weight="{{ user.weight }}">
                                Add Data
                            </button>
                            <button class="btn-danger delete-user-btn"
                                    data-user-id="{{ user.id }}"
                                    data-user-name="{{ user.name }}">Delete</button>
                        </div>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="7" style="text-align:center;">No users yet. <a href="{% url 'signup' %}">Add one!</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include 'partials/add_data_modal.html' with modal_user_name='' modal_user_id='' modal_user_weight='' default_date=today %}
{% endblock %}

{% block extra_js %}
<script src="{% static 'js/modal.js' %}"></script>
<script>
$(document).ready(function() {
    $('.add-data-btn').on('click', function() {
        $('#modal-user-id').val($(this).data('user-id'));
        $('#modal-user-name').text($(this).data('user-name'));
        $('#modal-user-weight').val($(this).data('user-weight'));
    });

    $('.delete-user-btn').on('click', function() {
        var userId = $(this).data('user-id');
        var userName = $(this).data('user-name');
        showConfirm('Are you sure you want to delete "' + userName + '"? All their data will be permanently removed.', function() {
            $.ajax({
                url: '/users/' + userId + '/delete/',
                method: 'DELETE',
                headers: {'X-CSRFToken': getCookie('csrftoken')},
                success: function() {
                    showToast('User "' + userName + '" deleted!', 'success');
                    setTimeout(function() { location.reload(); }, 1000);
                },
                error: function(xhr) { showToast('Error deleting user.', 'error'); }
            });
        });
    });
});
</script>
{% endblock %}
